<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<link rel="stylesheet" href="https://me2.do/5BvBFJ57">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Thymeleaf Iterations</h1>
	<h2>each</h2>
	
	

	<ul>
		<li th:each="name : ${names}" th:text="${name}">이름</li>
	</ul>
	
	
	<ul>
		<li th:each="name : ${names}" >
			<span th:text="${name}"></span>
		</li>
	</ul>
	
	---------------------------------------------------------------
	
	<ul th:each="name: ${names}">
		<li th:text=${name}></li>
	</ul>
	<!-- 태그에 바로 쓸 수 있고 자식태그에다가 쓸 수 있고 선택이다. -->
	
	<ul>
		<li th:each="dto : ${list}" th:text="|${dto.subject}(${dto.id})|"></li> 
	</ul>
	<ul>
		<li th:each="dto : ${list}" th:object="${dto}">
			<span th:text="*{subject}"></span>
		</li>
	</ul>
	<ul>
		<li th:each="dto : ${list}" th:object="${dto}" th:text="*{subject}">
		</li>
	</ul>
	
	<table>
		<tr>
			<th>번호</th>
			<th>아이디</th>
			<th>제목</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<!-- 콤마로 두개 가능  -->
		<tr th:each="dto, status : ${list}">
			<td th:text="${dto.seq}"></td>
			<td th:text="${dto.id}"></td>
			<td th:text="${dto.subject}"></td>
			
			<td th:text="${status.index}"></td>
			<td th:text="${status.count}"></td>
			<td th:text="${status.size}"></td>
			
			<td th:text="${status.even}"></td>
			<td th:text="${status.odd}"></td>
			<td th:text="${status.first}"></td>
			<td th:text="${status.last}"></td>
		</tr>
	</table>
	
	<!-- 시퀀스 생성 후 반복문 -->
	<th:block th:each="num : ${#numbers.sequence(1,5)}">
		<div th:text="${num}"></div>
	</th:block>
</body>
</html>




