<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<link rel="stylesheet" href="https://me2.do/5BvBFJ57">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>

	.one { color : gold; }
	.two { text-decoration: underline; }
	.three { font-size : 3rem; }
	
</style>
<body>
	<!-- m5.html -->
	<h1>Thymeleaf + HTML Attribute</h1>
	<!-- 
		HTML 속성 조작
		- th:text="값"
		- th:HTML속성명="값"
		- 기존에 동일한 속성이 선언되어 있으면 대체한다. 
		- 기존에 동일한 속성이 선언되어 있지 않으면 추가한다.
		
		*** 대부분 서버에서 전달 받은 값(model)은 그냥 사용할 수 없고
			- 직접 표현식으로 사용이 불가능(${key})
			- 표현식은 반드시 th:속성에만 적용이 가능하다.
	 -->
	 <div>${name}</div>
	 <div th:text="${name}"></div>
	 
	 <input type="text" name="age">     <!-- 이건 정적 -->
	 <input type="text" th:name="age">  <!-- 이건 타임리프가 손을 대서 만듬 -->
	 <input type="text" name="${name}"> <!-- 이건 타임리프 속성이라 안된다. -->
	 <input type="text" th:name="${name}"> <!-- 이건 타임리프 속성이다. -->
	 <input type="text" th:name="${name}" th:size="${size}">  
	 <input type="text" th:value="${color}">
	 
	<hr>
	
	<div class="one">Box 1</div>
	<div th:class="one">Box 2</div>
	<div class="one" th:class="two">Box 3</div>
	<!-- - 기존에 동일한 속성이 선언되어 있으면 대체한다.  타임리프 속성이 기존 속성을 이긴다. -->
	<!-- 이미 클래스가 있는데 또다른 클래스 붙이는데 원래 안되는데 타임리프로 하면?  -->
	<div class="one" th:attrappend="class=' two'">Box 4</div>
	<div class="one" th:attrprepend="class='two '">Box 5</div>
	<div class="one" th:classappend="two">Box 6</div>
	
	<input type="checkbox" name="cb" th:checked="true">
	<input type="checkbox" name="cb" th:checked="false">
	
	<div th:style="'background-color:' +${color}">Box 7 </div> 
	<div th:style="|background-color:${color}|">Box 7 </div>
	
</body>
</html>